.movie {
  background-color: #f1f3f5;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #004646;
}

.add-movie-form {
  display: flex;
  margin-bottom: 20px;
}

.add-movie-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  margin-right: 10px;
}

.add-movie-button {
  padding: 10px 20px;
  background-color: #95d1d1;
  color: #004646;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.add-movie-button:active {
  transform: scale(0.90);
}